<ng-container *ngIf="apartments$ | async as apartments">
    <ng-container *ngFor="let apartment of apartments">
        <app-map-marker *ngIf="apartment"
                        [marker]="apartment.marker"
                        [isSelected]="isApartmentSelected"
                        (clicked)="onMarkerClicked($event, isApartmentSelected)"
                        (locationUpdated)="apartmentsService.updateApartmentLocation(apartment, $event, isApartmentSelected)">
        </app-map-marker>
    </ng-container>
    <div class="map-extra">
        <button (click)="toggleEditMode()"
                [color]="editMode ? 'accent' : 'primary'"
                [matTooltip]="(editMode ? 'Disable' : 'Enable') + ' edit mode'"
                class="map-extra__edit-mode" mat-fab>
            <mat-icon >
                {{editMode ? 'close' : 'create'}}
            </mat-icon>
        </button>
    
        <mat-chip-list *ngIf="editMode" aria-readonly="true">
            <mat-chip color="accent">
                {{editMode ? 'Edit Mode - (Drag n Drop)' : ''}}
            </mat-chip>
        </mat-chip-list>
    </div>
    
</ng-container>
