/*
 * Application global variables.
 */

// Colors
$silent-text: rgb(171 171 171);

// Footer
$footer-height: 40px;

// General
$triangle-width: 0.4rem;
$closing-banner-height: 2.778rem;
$images-radius: 0.4rem;

// Spacing
$sections-padding: 0.5rem;

// Apartments
$apartments-container-header: 1.5rem;
$apartments-container-background: #fafafa;

// Breakpoints ids
$phone-only: 'phone-only';
$tablet-portrait-up: 'tablet-portrait-up';
$tablet-landscape-up: 'tablet-landscape-up';
$desktop-up: 'desktop-up';
$big-desktop-up: 'big-desktop-up';
