@import 'src/theme/theme-variables';

.apartments-container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  flex: 1;

  overflow-y: hidden;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 $apartments-container-header;

    max-height: $apartments-container-header;
    min-height: $apartments-container-header;

    font-size: 14px;
    z-index: 5;

    background-color: mat-color($primary);
    padding: $sections-padding;
    color: white;

    &__text {
      font-size: 1rem;
    }
  }

  &__body {
    background-color: $apartments-container-background;
    flex: 1 1 auto;
    overflow: auto;

    &--no-overflow {
      overflow: hidden;
    }

    &__filters {
      &__search {

      }
    }
  }
}

.mapboxgl-ctrl {
  &__center-on-markers {
    display: flex;
    justify-content: center;
    width: 2rem;
    height: 2rem;

    cursor: pointer;
    transition: all 300ms linear;

    &:hover {
      opacity: .8;
    }

    &:active {
      transform: scale(.8);
    }

    img {
      width: 80%;
      height: auto;
    }
  }
}


// Helpers
.w-100 {
  width: 100%;
}


.silent-text {
  color: $silent-text;
}
