/*
 * Application global variables.
 */

// Colors
$silent-text: rgb(171 171 171);

// Footer
$footer-height: 40px;

// General
$triangle-width: 0.4rem;
$closing-banner-height: 2.778rem;

// Spacing
$sections-padding: 1rem;

// Breakpoints ids
$phone-only: 'phone-only';
$tablet-portrait-up: 'tablet-portrait-up';
$tablet-landscape-up: 'tablet-landscape-up';
$desktop-up: 'desktop-up';
$big-desktop-up: 'big-desktop-up';
