@import 'src/theme/theme-variables';

.filters {
  position: sticky;
  top: 0;

  background: $apartments-container-background;
  z-index: 2;

  padding: $sections-padding;

  &__form {
    margin-bottom: 0.5rem;

    &__select-container {
      transition: all 100ms ease;
      max-height: 100px;

      margin-bottom: 0.5rem;

      &--hidden {
        opacity: 0;
        max-height: 0;
        pointer-events: none;
        z-index: -1;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
  }
}

