<section class="apartments-container apartments-detail-list">
  <div class="apartments-container__title">
    <span class="apartment-title-bar__text" *ngIf="agentInfo$ | async as agentInfo">
      {{agentInfo.firstname}} {{agentInfo.lastname}} | {{agentInfo.company}}
    </span>
  </div>
  <div class="apartments-container__body">
    <app-list-view-filters (filtered)="launchFilter($event)" [extraFilters]="extraFilters"></app-list-view-filters>
    
    <ng-container *ngFor="let apartment of apartments$ | async; trackBy: trackById">
      <app-apartments-card [apartment]="apartment"></app-apartments-card>
    </ng-container>
  </div>
</section>
