@import 'src/theme/theme-variables';

.overview-plans {
  &__card {
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 4rem;

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      padding: 1.5rem;

      &__item {
        display: flex;
        justify-content: center;
        align-items: center;

        mat-icon {
          margin-right: 1rem;
        }

        span {
          margin-left: 1rem;
          font-weight: bold;
        }
      }

    }

    img {
      width: 100%;
      height: 100%;

      overflow: hidden;
      border-radius: $images-radius;
    }
  }
}
