@import "src/theme/theme-breakpoints";
@import "src/theme/theme-variables";

$sidenav-width: 450px;

:host {
  flex: 1 0 auto;
  display: flex;
  height: calc(100% - #{$footer-height});
}

.home {
  width: 100%;
  height: 100%;
  position: relative;

  &__drawer {
    width: 100%;
    height: 100%;

    .mat-drawer-inner-container {
      overflow: hidden;
    }

    &__sidenav {
      padding: 0;
      width: 100%;
      height: 100%;

      @include for-size(tablet-portrait-up) {
        width: $sidenav-width;
      }
    }

    &__content {
      width: 100%;

      @include for-size(tablet-portrait-up) {
        /*
         * Override 100% width defined inline by Mapbox library to avoid centering issues and replaced by
         * 100 parent container width - Sidenav fixed width
         */
        width: calc(100% - #{$sidenav-width}) !important;
      }

    }
  }
}
