<div class="apartment-header">
  <div class="apartment-header__name">
    <p>{{apartment.name}}</p>
    <button *ngIf="apartment.email || apartment.phone || apartment.url"
            mat-icon-button [matMenuTriggerFor]="menu"
            color="accent"
            aria-label="Contact Menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  
  <p class="apartments-header__address">
    {{apartment.streetAddress ? apartment.streetAddress + '-' : ''}} {{apartment.city}}
  </p>
  
  
  <!--  MORE OPTIONS MENU --->
  <mat-menu #menu="matMenu">
    <a class="apartments-link" href="mailto:{{apartment.email}}" mat-menu-item>
      <mat-icon>mail</mat-icon>
      <span>Email</span>
    </a>
    <a class="apartments-link" href="tel:{{apartment.phone}}" mat-menu-item>
      <mat-icon>phone</mat-icon>
      <span>Phone</span>
    </a>
    <a class="apartments-link" [href]="apartment.url" target="_blank" mat-menu-item>
      <mat-icon>open_in_browser</mat-icon>
      <span>Website</span>
    </a>
  </mat-menu>
</div>



